.story {
	width: 75%;
	padding: 6rem;
	margin: 0 auto;
	background-color: rgba($color-white, .6);
	box-shadow: 0 3rem 6rem rgba(0, 0, 0, .15);
	border-radius: 3px;
	padding-left: 9rem;
	font-size: $default-font-size;
	transform: skewX(-12deg);

	@include respond(tab-port) {
		width: 100%;
		padding: 4rem;
		padding-left: 7rem;
	}
	@include respond(phone) {
		transform: skewX(0deg);
		padding: 3rem;
		padding-left: 5rem;
	}

	&__shape {
		height: 15rem;
		width: 15rem;
		float: left;
		background-color: rgba($color-white, .6);
		-webkit-shape-outside: circle(50% at 50% 50%);
		shape-outside: circle(50% at 50% 50%); // circle(radius at height width)
		-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		transform: translateX(-3rem) skewX(12deg);
		transition: all 0.3s;
		position: relative;
		overflow: hidden;

		@include respond(phone) {
			transform: translateX(-3rem) skewX(0deg);
		}
	}
	&__img {
		height: 100%;
		overflow: hidden;
		transform: translateX(-3.5rem) scale(1.4);
		transition: all 0.3s;
		// backface-visibility: hidden;
	}
	&__text {
		transform: skewX(12deg);

		@include respond(phone) {
			transform: skewX(0deg);
		}
	}
	&__caption {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 20%);
		opacity: 0;
		color: $color-white;
		font-size: 1.7rem;
		text-transform: uppercase;
		text-align: center;
		transition: all 0.3s ease-in;
		backface-visibility: hidden;
	}
	&:hover &__caption {
		transform: translate(-50%, -50%);
		opacity: 1;
	}
	&:hover &__img {
		transform: translateX(-3.5rem) scale(1);
		filter: blur(3px) brightness(80%);
	}
}
